body {
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
}
.orange-color {
    color: orange;
}
/* Welcom Area CSS */
section {
    display: flex;
}
.welcome-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.content-area {
    padding-left: 50px;
    margin-top: 90px;
}
.content-area h1 {
    font-size: 50px;
    font-weight: 600px;
    margin: 0;
}
.content-area p{
    width: 80%;
    text-align: justify;
}
.content-area a {
    text-decoration: none;
    font-weight: 550;
    color: white;
    /* background-color: orange; */
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    /* border-radius: 8px; */
    border-top-left-radius: 20px;
}
.images-area img {
    width: 85%;
    /* margin: 0 auto; */
    margin-top: 40px;
}
.half-width {
    width: 50%;
}
/* Dream Area CSS */
.dream-section {
display: flex;
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
flex-direction: row-reverse;
margin-top: 120px;
}
.dream-section a {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 40px;
}
.images-area {
    padding-left: 50px;
}
/* Experiances Area CSS */
h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 70px;
}
.experiance-section {
    margin-top: 70PX;
}
.experiance-list {
    text-align: justify;
    margin: 50px;
    padding: 20px;
    border-left: 7px solid #FF9843;
    box-shadow: 35px 1px 30px 2px lightgray;
}
.experiance-section h2 {
    font-weight: 700;
    color: black;
}
.experiance-section h3 {
    font-weight: 600;
    color: orange;
}
.experiance-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#gread {
    border-left: 5px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer {
    text-align: center;
   margin: 15px 0;
}